---
// Copyright (c) 2026, Nashi Uso, (嘘無し).
---

<div class="identity">
  <p>
    <samp>
      <span class="kana">嘘 無 し ,</span><br />
      <span class="name">Nashi&nbsp;&nbsp;Uso</span> .
    </samp>
  </p>
  <br />
  <p class="links">
    <samp>
      <span class="sep">—</span>
      <i><a href="https://github.com/nashiuso" rel="me noopener">github</a></i>
      <span class="sep">,</span>
      <i><a href="mailto:stehpenderdealer@proton.me">mail</a></i>
      <span class="sep">—</span>
    </samp>
  </p>
</div>
